node_modules/
platforms/
plugins/
package-lock.json
www/cordova.js
www/cordova_plugins.js
.DS_Store
*.log
*.keystore
*.jks
release-signing.properties
build/
dist/
.apk
*.apk
hooks/
merges/
res/
图标.jpg
背景.jpg
